@import "./custom";
@import "~bootstrap/scss/bootstrap";

@import "partials/layout";
@import "partials/topography";
@import "partials/sizing";
@import "partials/colors";
@import "partials/comment";
@import "partials/avatar";
@import "partials/reactions";

.profile__header {
  position: relative;
  min-height: 20rem;
  max-height: 22rem;

  & .profile__avatar {
    height: 10rem;
    width: 10rem;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;

    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    border: 1px solid $white;
  }
}
