@import "./custom";
@import "~bootstrap/scss/bootstrap";

@import "partials/layout";
@import "partials/topography";
@import "partials/sizing";
@import "partials/colors";

.comment {
  background-color: darken($gray-100, 1%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}
